@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito&display=swap');

:root {
    --color-1: #f1faee;
    --color-2: #a8dadc;
    --color-3: #457b9d;
    --color-4: #1d3557;
    --color-5: #e63946;
}

* {
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    position: relative;
    background-color: var(--color-1);
    width: 700px;
    min-height: 100vh;
}

img.background {
    /* position: absolute; */
    position: fixed;
    bottom: 0;
    margin-left: 405px;
    width: 300px;
    height: auto;
}

nav {
    background-color: var(--color-4);
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

nav .option {
    font-size: 1.8em;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 1000;
    
    color: var(--color-1);
    text-decoration: none;
    opacity: 0.8;
}

nav .option.active {
    opacity: 1;
    text-decoration: underline;
}

.anime-list {
    font-family: 'Nunito', Roboto, sans-serif;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.anime-list .anime-entry {
    position: relative;
    background: var(--color-4);
    border-radius: 6px;
    height: 125px;
    width: calc(inherit - 150px);
    padding: 7px;
    margin-top: 35px;
    display: flex;
}

.anime-list .anime-entry:nth-child(even) {
    background: var(--color-3);
}

.anime-list .anime-entry .cover-area {
    background: var(--color-2);
    width: 120px;
    height: 100%;
    border-radius: 6px;
    padding: 5px;
}

.anime-list .anime-entry .cover-area .anime-cover-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.anime-list .anime-entry .cover-area .anime-cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.anime-list .anime-entry .anime-title {
    color: var(--color-1);
    margin-left: 20px;
    font-size: 1.3em;
}

.anime-list .anime-entry .extras {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    color: var(--color-2);
    /* background: green; */
}


.anime-list .anime-entry .anilist-icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.anime-list .anime-entry .episode-count {
    margin-right: 7px;
    margin-top: 20px;
    font-size: 1.2em;   
}
